<h1>HTTP observation <span style="color:red;">failure</span></h1>

<.links http_observation={@http_observation} />

<p>
  You are receiving this notification because the observer is configured to notify this
  address on failed observations.
</p>
